.formControl.error input,
.formControl.error textarea
{
    border: 2px solid indianred;
}

.formControl.error span
{
    color: darkred;
}

.errorForm {
    color: darkred;
    border: darkred 1px solid;
    padding: 5px;
}