.descriptionBlock {
    padding: 10px;
}
.pictureInfo img {
    padding: 5px;
    width: 1000px;
}
.button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;

}